<%= form_for(@article) do |t| %>
  <ul>
    <% @article.errors.full_messages do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <p>
    <%= t.label :title %><br />
    <%= t.text_field :title %>
  </p>
  <p>
    <%= t.label :body %><br />
    <%= t.text_area :body %>
  </p>
  <p>
    <%= t.submit %>
  </p>
<% end %>

